<div class="grid mt-20 justify-items-center">
  <fieldset class="border ml-5 rounded p-2">
    <legend>Wybierz tryb:</legend>
    <div>
      <input type="radio" id="search" name="mode" value="search" checked (input)="setCurrentMode('search')" />
      <label for="searchValue" class="ml-2">Wyszukiwarka</label>
    </div>
    <div>
      <input type="radio" id="quiz" name="mode" value="quizValue" (input)="setCurrentMode('quiz')" />
      <label for="quizValue" class="ml-2">Quiz</label>
    </div>
  </fieldset>
  <app-search-country *ngIf="mode === 'search'"></app-search-country>
  <app-quiz-country *ngIf="mode === 'quiz'"></app-quiz-country>
</div>
